.privacy_policy {
	padding: 200px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	h2 {
		font-size: 40px;
		color: orange;
	}

	h3 {
		color: orange;
		font-size: 24px;
	}

	a {
		color: orange;
	}
}
