.admin {
	padding: 40px;
	background-color: #1e1e2f;
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 100px;

	&_auth_form {
		display: flex;
		column-gap: 10px;
		align-items: center;
		row-gap: 10px;

		label {
			font-size: 20px;
		}

		input {
			padding: 5px;
		}
		button {
			padding: 5px;
			color: white;
			cursor: pointer;
		}

		@media (max-width: 700px) {
			flex-direction: column;

			button {
				width: 100%;
			}
		}
	}

	&_user_table {
		width: 100%;
		max-width: 800px;
		border-collapse: separate;
		border-spacing: 0;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

		thead {
			background-color: #343450;

			tr {
				/* No hover effect on header rows */
			}
		}
		th {
			padding: 12px 16px;
			color: #ffffff;
			text-transform: uppercase;
			font-size: 0.875rem;
			letter-spacing: 0.05em;
			border-bottom: 1px solid #44445a;
			text-align: left;
		}

		tbody {
			background-color: #ffffff;

			tr {
				transition: background-color 0.2s, transform 0.2s;

				&:nth-of-type(even) {
					background-color: #f5f5f7;
				}
				&:hover {
					background-color: #d0d0d3;
				}
			}
		}

		td {
			padding: 12px 16px;
			color: #333;
			font-size: 0.875rem;
			font-weight: 600;
		}

		@media (max-width: 600px) {
			display: block;
			overflow-x: auto;
			white-space: nowrap;
		}
	}
}

.role_td {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 4px;

	input {
		padding: 5px;
		border: 2px solid orange;
		border-radius: 12px;
		transition: all 0.3s;
		outline: orange;

		&:focus {
			background-color: gold;
		}
	}

	button {
		padding: 10px;
		font-weight: 600;
		background-color: orange;
		border-radius: 6px;
		cursor: pointer;
		color: white;
		transition: all 0.3s;

		&:hover {
			opacity: 0.8;
		}
	}
}

.password_inp {
	height: 30px;
	font-size: 20px;
}

.delete_button {
	padding: 10px;
	border-radius: 12px;
	background-color: red;
	color: white;
	font-weight: 600;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}
